.contenttitle {
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: 1150px;
    border: 1px inset #ccc;
    border-bottom-color: transparent;
    border-top-left-radius: 0px;
    border-right-color: transparent;
    padding: 15px;    
    font-size: 20px;
 }

.contenttitle :first-child {
   text-align: left;
   flex-grow: 100;
   color: rgb(177, 109, 9);
 }

.contenttitle div:nth-child(2) img {
  width: 70px;      
}

.contenttitle div:nth-child(3) {
  font-size: 14px; 
  width: 100%;
}

.contenttitle div:nth-child(4) {
  padding-top: 30px;
}