.contentsection {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 1150px;
    border: 1px inset #ccc;
    border-top-color: transparent;
    border-right-color: transparent; 
    border-bottom-color: transparent;
    padding: 15px;
    font-size: 18px;
  }




 .contentsection div:nth-child(2) {
    padding-top: 90px;
    font-size: 14px;    
    color: grey;
}